@keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
@-webkit-keyframes move-background {
    from {
         -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
@-moz-keyframes move-background {    
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
        -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}
  
@-webkit-keyframes move-background {
    from {
        -webkit-transform: translate3d(0px, 0px, 0px);
    }
    to { 
       -webkit-transform: translate3d(1000px, 0px, 0px);
    }
}

@font-face {
    font-family: diogenes;
    src: url(fonts/DIOGENES.ttf);
    font-weight: 400;
    font-display: swap;
}

* {
    font-family: diogenes, Helvetica, san-serif; 
}

.birthday-input {
    font-family: diogenes, Helvetica, san-serif;
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}
  

.stars {
    background: rgb(2, 0, 5) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}

  
.twinkling{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
      
    -moz-animation:move-background 70s linear infinite;
    -ms-animation:move-background 70s linear infinite;
    -o-animation:move-background 70s linear infinite;
    -webkit-animation:move-background 70s linear infinite;
    animation:move-background 70s linear infinite;
      
}
  
.clouds{
    width:10000px;
    height: 100%;
    background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png") repeat;
    background-size: 1000px 1000px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
  
    -moz-animation:move-background 150s linear infinite;
    -ms-animation:move-background 150s linear infinite;
    -o-animation:move-background 150s linear infinite;
    -webkit-animation:move-background 150s linear infinite;
    animation:move-background 150s linear infinite;
}


.wheel{
    position: relative;
}

.hero-head {
    display: flex;
    justify-content: left;
    margin-left: 3rem;
}



.hero-head p {
    
    font-size: 60px;
    margin-left: 25px;
    padding-top: 2rem;
    
}

/* .hero-head , .title-food {
    
} */

.title-mood , .title-food {
    padding-top: 1rem;
    width: 18.75rem;
    /* height: auto; */
    object-fit: contain;
    
    
}

#moon {
    height: 40vh;
    width:40vh;
    position: absolute;
    z-index: 3;
    right: 20px;
}


.birthday-input {
    font-size: 35px;
    text-align: center;
}

#userBirthday {
    width: 20%;
}

.hero-body .container {
    padding-top: 1rem;
}

#darkHori {
    padding-top: 1rem;
    width: 300px;
    height: auto;
    padding-bottom: 2.5rem;
}


.ordered-mobile {
    padding-top: 1rem;
}

.foodResults {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;

}

.zodiacSign {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;
}

.horoscope {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;
}

#userMoodHeader {
    font-weight: bold;
}

/* .ordered-mobile {

} */

#recipeContent {
    justify-content: center;
    
} 

.foodResults {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;

}

.zodiacSign {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;
}

.horoscope {
    background-color: rgba(122, 119, 119, 0.5);
    margin: 0 20px 0 20px;
    border-radius: 15px;
}

.userMoodHeader {
    font-weight: bold;
}

#recipeContent {
    margin-top: 20px;
    justify-content: center;

}

#mealThumb {
    width: 50%;
    margin: 10px;
    border-radius: 15px;
}

#favorites {
    border: solid 2px black;
    font-family: diogenes, Helvetica, san-serif;
    background-color: rgba(248, 245, 245, 0.5);
    border-radius: 10px;
    transition: 0.5s;
    margin-top: 10px;
}

a:hover {
    background-color: rgba(37, 37, 37, 0.75);
}

h2 {
    text-align: center;
    font-size: 30px;
    border-bottom: solid 2px white;
    font-family: diogenes, Helvetica, san-serif;
}
 
h3 {
    text-align: center;
}

.mealTitle {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px white;
    justify-content: center;
    padding-bottom: 10px;

}

#recipeName {
    border: none;
    margin-right: 10px;

}

#favBtn {
    margin-left: 10px;
    font-family: diogenes, Helvetica, san-serif; 
    background-color: rgba(248, 245, 245, 0.5);
    border-radius: 10px;
    height: 45px;

}

#favBtn:hover {
    cursor: pointer;
    background-color: rgba(194, 145, 55, 0.75);
}

.modal-head {
    
    border-bottom: solid 2px;
    font-size: 40px;
}

.modal-title {
    
    border-bottom: solid 2px;
    margin-top: 15px;
}

.modal-recipe-text {
    
    margin-top: 15px;
}

 
@media only screen and (max-width: 768px) {
    .ordered-mobile {
       display: flex;
       flex-flow: column;
    }
    .ordered-mobile .zodiacSign {
       order: 1;
       margin-bottom: 20px;
    }
    .ordered-mobile .foodResults {
       order: 2;
       margin-bottom: 20px;
    }
    .ordered-mobile .horoscope {
       order: 3;
    }
}

@media only screen and (max-width: 750px) {
    .navbar-brand {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero-head {
        display: block;
    }
}
 